@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar";

.card {
  background-color: #163172 !important;
}

.btn {background-color: #d5e3ef;
color: black;
border-color: white;}
.btn:hover {
  background-color: black;
  border-color: white;
}
.btn:active{
  background-color: black !important;
  border-color: black !important;
}


p {
  font-family: 'Source Code Pro', monospace;
  margin-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 40px;
  margin-right: 40px;
}

h1, h2, h3, h4, h5{
  font-family: 'PT Mono', monospace;
  margin-left: 30px;
  margin-right: 30px;

}

h1 {

  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: underline;
  color: #163172;
}

h2 {
  margin-top: 60px;
}

body {

  background-color: white;
}

img[alt=journey] { width: 110%;}

img[alt=style] { width: 100%;}

img[alt=visuals] { width: 100%;}

img[alt=ideas] { width: 100%;}

img[alt=intro] { width: 100%;}

img[alt=wireflow] { width: 100%;}


.voorstelling {

  height: 250px;
}

.voorstelling2 {

  height: 250px;
}

.table {
  font-family: 'PT Mono', monospace;
  margin-top: 20px;
}